body {
  margin: 0;
  padding: 20%;
  background-color: #444;
}

#button {
  padding: 20%;
  background-color: #09d;
  border: 3px solid #666;
  color: #ddd;
}

#button:hover {
  background-color: #07c;
  border: 3px solid #555;
}

#button:active {
  background-color: #2bf;
  border: 3px solid #777;
}
